@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    /*
      == Light colors ==
    */
    --color-primary-blue: #0079FF;
    --color-light-blue: #60ABFF;
    --color-gray: #697C9A;
    --color-dark-gray: #4B6A9B;
    --color-matte-black: #2B3442;
    --color-pale-gray: #F6F8FF;
    --color-white-gray: #FEFEFE;
    /*
      == Dark colors ==
    */
    --color-white: #FFFFFF;
    --color-black: #141D2F;
    --color-navy-black: #1E2A47;

  }
}

body {
  color: var(--color-matte-black);
  font-family: "Space Mono", system-ui, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.heading-1 {
  @apply text-[26px] font-SpaceMono text-matteBlack font-bold leading-normal
}

.heading-2 {
  @apply text-[22px] font-SpaceMono text-matteBlack font-bold leading-normal
}

.heading-3 {
  @apply text-[16px] font-SpaceMono text-primaryBlue font-normal leading-normal
}

.heading-4 {
  @apply text-[13px] font-SpaceMono text-darkGray leading-normal
}

.paragraph-text {
  @apply text-[15px] font-SpaceMono text-normalGray leading-normal font-normal
}

.stats-section {
  @apply flex justify-around items-center p-4 bg-paleGray mb-8
}

.links {
  @apply grid grid-cols-2 gap-1
}

.link-item {
  @apply flex justify-start items-center
}


@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}